@{
    ViewData["Title"] = "Home Page";
}

<namespaces>
    <add namespace="Sunseeker.API"/>
</namespaces>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <input type="text" id="inputField"/>
    
    <button></button>
</div>
